.about{
    padding: 119px 80px 173px;
    background-color: #0A2850;
    display: flex;
    position: relative;
}

.about__title{
    margin: -19px auto 0 0;
    max-width: 251px; 
    z-index: 2;
    color:white;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}

.about__content{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    max-width: 660px;
}

.about__paragraph{
    max-width: 660px;
    color: white;
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.about__circle{
    position: absolute;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    background-color: #2f80ed;
    left: -129px;
    top: -152px;
    z-index: 0;
}

.about__circle_animation_blurred{
    animation: pulsate 1.3s ease-in-out 0s infinite;
}